# Wikipedia Webscrabbing

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

send get request to the webpage server to get the source code of the page.

In [4]:
response=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [5]:
response

Page content

In [7]:
soup=BeautifulSoup(response.content)
# soup

find all Header tags (h1 to h7)

In [8]:
headers= soup.find_all('header',class_="vector-header mw-header")
# headers

In [9]:
headers=soup.find_all(['h1','h2','h3','h4','h5','h6'])
# headers

In [48]:
headers_texts=[header.text for header in headers]

In [49]:
headers_texts

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# Create DataFrame from the Header texts

In [54]:
df=pd.DataFrame(headers_texts,columns=['Headers'])
df

                         Headers
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

Done Thank You

# Former presidents web scraping

In [31]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [32]:
permission=requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [33]:
permission

In [34]:
table=BeautifulSoup(permission.content)

In [35]:
# table

In [94]:
president_name=[]

In [95]:
President= table.find_all('h3')
President

[<h3>Shri Ram Nath Kovind (birth - 1945)</h3>,
 <h3>Shri Pranab Mukherjee (1935-2020)</h3>,
 <h3>Smt Pratibha Devisingh Patil (birth - 1934)</h3>,
 <h3>DR. A.P.J. Abdul Kalam (1931-2015)</h3>,
 <h3>Shri K. R. Narayanan (1920 - 2005)</h3>,
 <h3>Dr Shankar Dayal Sharma (1918-1999)</h3>,
 <h3>Shri R Venkataraman (1910-2009)</h3>,
 <h3>Giani Zail Singh (1916-1994)</h3>,
 <h3>Shri Neelam Sanjiva Reddy (1913-1996)</h3>,
 <h3>Dr. Fakhruddin Ali Ahmed (1905-1977)</h3>,
 <h3>Shri Varahagiri Venkata Giri (1894-1980)</h3>,
 <h3>Dr. Zakir Husain (1897-1969)</h3>,
 <h3>Dr. Sarvepalli Radhakrishnan (1888-1975)</h3>,
 <h3>Dr. Rajendra Prasad (1884-1963) </h3>]

In [96]:
President_names=[header.text for header in President]
President_names

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [107]:
president_term=table.find_all('div',class_="presidentListing")
# print(president_term)
term_of_office_1=[]
for term in president_term:
    terms=term.text.strip().split(':')[1].strip('\nhttps')
    term_of_office_1.append(terms) 
term_of_office_1

[' 25 July, 2017 to 25 July, 2022 ',
 ' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002',
 ' 25 July, 1992 to 25 July, 1997',
 ' 25 July, 1987 to 25 July, 1992',
 ' 25 July, 1982 to 25 July, 1987',
 ' 25 July, 1977 to 25 July, 1982',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

Create a DataFrame from the header texts

In [109]:
df=pd.DataFrame({'President Names':President_names,'Term of office':term_of_office_1})
df

,President Names,Term of office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

Done Thank you

# Cricket web Scraping(mens)

In [27]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [28]:
response=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [29]:
response

In [30]:
team=BeautifulSoup(response.content)
# team

In [131]:
team1=team.find_all('span',class_="u-hide-phablet")
team1

[<span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>]

In [140]:
team_name=[]
matches=[]
points=[]
ratings=[]

for row in team.table.tbody.find_all('tr'):
    columns=row.find_all('td')
    names=columns[1].text.strip().split('\n')[0]
    match=columns[2].text.strip()
    point=columns[3].text.strip()
    rating=columns[4].text.strip()
    
    team_name.append(names)
    matches.append(match)
    points.append(point)
    ratings.append(rating)
    
team_name

['Australia',
 'Pakistan',
 'India',
 'New Zealand',
 'England',
 'South Africa',
 'Bangladesh',
 'Afghanistan',
 'Sri Lanka',
 'West Indies',
 'Zimbabwe',
 'Ireland',
 'Scotland',
 'Nepal',
 'United States',
 'Namibia',
 'Netherlands',
 'Oman',
 'UAE',
 'Papua New Guinea']

DataFrame

In [146]:
df=pd.DataFrame({'names':team_name,'match':matches,'point':points,'rating':ratings})
df.head(10)

          names match  point rating
0     Australia    23  2,714    118
1      Pakistan    20  2,316    116
2         India    33  3,807    115
3   New Zealand    27  2,806    104
4       England    24  2,426    101
5  South Africa    19  1,910    101
6    Bangladesh    25  2,451     98
7   Afghanistan    10    878     88
8     Sri Lanka    21  1,682     80
9   West Indies    25  1,797     72

# Top 10 ODI Batsman

In [36]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [37]:
respond=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
respond

In [38]:
team=BeautifulSoup(respond.content)
# team

In [222]:
Batsmen=[]
teams_name=[]
ratings=[]
team1=team.find('div',class_="rankings-block__banner--name")
name=team1.text
# name
Batsmen.append(name)

In [223]:
Batsmen

['Babar Azam']

In [224]:
nation=team.find('div',class_="rankings-block__banner--nationality")
nationteam=nation.text.split('\n')[2]
nationteam
teams_name.append(nationteam)

In [225]:
teams_name

['PAK']

In [226]:
rate=team.find('div',class_="rankings-block__banner--rating")
rate

In [227]:
rating=rate.text

In [228]:
ratings.append(rating)

In [229]:
# batsmen=team.find_all('div',class_="u-negative-wrapper-tab uniform-grid touch-scroll-list--tablet")
# batsmen

In [230]:
cricket_team=team.find('table', class_='table rankings-card-table')
cricket_team

for row in cricket_team.tbody.find_all('tr'):
        columns = row.find_all('td')
        batsman = columns[1].text.strip()
        team_name = columns[2].text.strip()
        rating = columns[3].text.strip()

        Batsmen.append(batsman)
        teams_name.append(team_name)
        ratings.append(rating)

In [231]:
Batsmen

['Babar Azam',
 'Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'David Warner',
 'Harry Tector',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma']

In [232]:
teams_name

['PAK', 'SA', 'PAK', 'PAK', 'IND', 'AUS', 'IRE', 'IND', 'SA', 'IND']

In [234]:
ratings

['886', '777', '755', '745', '738', '726', '722', '719', '718', '707']

DataFrame

In [237]:
df=pd.DataFrame({'Player Name':Batsmen,'county Team':teams_name,'Ratings':ratings})
df

             Player Name county Team Ratings
0             Babar Azam         PAK     886
1  Rassie van der Dussen          SA     777
2           Fakhar Zaman         PAK     755
3            Imam-ul-Haq         PAK     745
4           Shubman Gill         IND     738
5           David Warner         AUS     726
6           Harry Tector         IRE     722
7            Virat Kohli         IND     719
8        Quinton de Kock          SA     718
9           Rohit Sharma         IND     707

# Top 10 ODI Bowler

In [23]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [24]:
permi=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [25]:
permi

In [26]:
team=BeautifulSoup(permi.content)
# team

In [311]:
Bowler_name=[]
nation_team=[]
rating_1=[]

Bowler=team.find('table',class_="table rankings-table")
# Bowler

top_bowler=Bowler.find_all('tr')
# top_bowler

for row in top_bowler:
    columns=row.find_all('td')
    if(columns !=[]):
        names=columns[1].text.strip()
        team_name=columns[2].text.strip()
        team_rating=columns[3].text.strip()
        
        Bowler_name.append(names)
        nation_team.append(team_name)
        rating_1.append(team_rating)

DataFrame

In [316]:
df=pd.DataFrame({'Bowler Name':Bowler_name,'Nation Team':nation_team,'Ratings':rating_1})
df.head(10)

        Bowler Name Nation Team Ratings
0    Josh Hazlewood         AUS     705
1    Mohammed Siraj         IND     691
2    Mitchell Starc         AUS     686
3        Matt Henry          NZ     667
4       Trent Boult          NZ     660
5       Rashid Khan         AFG     659
6        Adam Zampa         AUS     652
7  Mujeeb Ur Rahman         AFG     637
8     Mohammad Nabi         AFG     631
9    Shaheen Afridi         PAK     630

# Cricket web scraping(womens)

In [11]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [12]:
req=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
req

In [13]:
teams=BeautifulSoup(req.content)
# teams

In [335]:
team_name=[]
matches=[]
points=[]
ratings=[]

women=teams.find('table',class_="table")


top=women.find_all('tr')

for row in top:
    columns=row.find_all('td')
    if(columns !=[]):
        name=columns[1].text.strip().split('\n')[0]
        team_match=columns[2].text.strip()
        team_points=columns[3].text.strip()
        rates=columns[4].text.strip()
        
        team_name.append(name)
        matches.append(team_match)
        points.append(team_points)
        ratings.append(rates)

DataFrame

In [336]:
df=pd.DataFrame({'Team Name':team_name,'Matches':matches,'Points':points,'Ratings':ratings})
df.head(10)

      Team Name Matches Points Ratings
0     Australia      21  3,603     172
1       England      28  3,342     119
2  South Africa      26  3,098     119
3         India      27  2,820     104
4   New Zealand      25  2,553     102
5   West Indies      27  2,535      94
6      Thailand      11    821      75
7    Bangladesh      14    977      70
8      Pakistan      27  1,678      62
9     Sri Lanka       9    479      53

# Top 10 Batting (womens)

In [20]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [21]:
permit=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
permit

In [22]:
batt=BeautifulSoup(permit.content)
# batt

In [343]:
name_batt=[]
team_batt=[]
rate_batt=[]


womens=batt.find('table',class_="table rankings-table")


top=womens.find_all('tr')

for row in top:
    columns=row.find_all('td')
    if(columns !=[]):
        name=columns[1].text.strip().split('\n')[0]
        teamb=columns[2].text.strip()
        teamr=columns[3].text.strip()
        
        name_batt.append(name)
        team_batt.append(teamb)
        rate_batt.append(teamr)

DataFrame

In [344]:
df=pd.DataFrame({'Player Name':name_batt,'Team':team_batt,'Rating':rate_batt})
df

          Player Name Team Rating
0         Beth Mooney  AUS    754
1     Laura Wolvaardt   SA    732
2      Natalie Sciver  ENG    731
3         Meg Lanning  AUS    717
4    Harmanpreet Kaur  IND    716
..                ...  ...    ...
95          Kim Garth  AUS    202
96       Arlene Kelly  IRE    199
97        Fatima Sana  PAK    197
98  Mary-Anne Musonda  ZIM    196
99         Lea Tahuhu   NZ    196

[100 rows x 3 columns]

In [345]:
df.head(10)

           Player Name Team Rating
0          Beth Mooney  AUS    754
1      Laura Wolvaardt   SA    732
2       Natalie Sciver  ENG    731
3          Meg Lanning  AUS    717
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6  Chamari Athapaththu   SL    673
7         Ellyse Perry  AUS    626
8       Tammy Beaumont  ENG    595
9      Stafanie Taylor   WI    588

# Top 10 ODI All-rounder(womens)

In [17]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [18]:
reqs=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
reqs

In [19]:
all_rounder=BeautifulSoup(reqs.content)
# all_rounder

In [350]:
name_rounder=[]
team_rounder=[]
rate_rounder=[]


womens=all_rounder.find('table',class_="table rankings-table")


top_rounder=womens.find_all('tr')

for row in top_rounder:
    columns=row.find_all('td')
    if(columns !=[]):
        nameR=columns[1].text.strip().split('\n')[0]
        teamR=columns[2].text.strip()
        rateR=columns[3].text.strip()
        
        name_rounder.append(nameR)
        team_rounder.append(teamR)
        rate_rounder.append(rateR)

DataFrame

In [351]:
df=pd.DataFrame({'Player Name':name_rounder,'Team':team_rounder,'Rating':rate_rounder })
df.head(10)

         Player Name Team Rating
0    Hayley Matthews   WI    373
1     Natalie Sciver  ENG    371
2       Ellyse Perry  AUS    366
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    292
7      Jess Jonassen  AUS    250
8           Nida Dar  PAK    232
9  Sophie Ecclestone  ENG    205

# CNBC.com (web scraping)

In [358]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [359]:
Rex=requests.get('https://www.cnbc.com/world/?region=world')
Rex

In [361]:
news=BeautifulSoup(Rex.content)
# news

In [362]:
headlines=[]
news_article_link=[]
headline=news.find('div',class_="FeaturedCard-contentText")
headlines.append(headline.text)

news_link=headline.find('a',href=True)
news_article_link.append(news_link['href'])
news_article_link

['https://www.cnbc.com/2023/05/26/treasury-says-it-wont-run-out-money-until-at-least-june-5-buying-time-for-debt-ceiling-talks.html']

In [363]:
headline_time=requests.get('https://www.cnbc.com/2023/05/26/treasury-says-it-wont-run-out-money-until-at-least-june-5-buying-time-for-debt-ceiling-talks.html')
headline_time

In [365]:
get_time=BeautifulSoup(headline_time.content)
# get_time

In [367]:
times=[]
headline_time=get_time.find('time',Class='')
times.append(headline_time.text)

In [368]:
df=pd.DataFrame({'Headline':headlines,'Time':times,'News Link':news_article_link})
df

,Headline,Time,News Link
0,Treasury now says it could run out of money Ju...,"Published Fri, May 26 20234:22 PM EDT",https://www.cnbc.com/2023/05/26/treasury-says-...

# Journal web scraping

In [14]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [15]:
journal_website=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
journal_website

In [16]:
journal=BeautifulSoup(journal_website.content)
# journal

In [376]:
paper_name=[]
authors=[]
published_date=[]
paper_url=[]
paper_title=journal.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")
for names in paper_title:
    paper_name.append(names.text)
len(paper_name)

24

In [384]:
Autho=journal.find_all('span',class_="sc-1w3fpd7-0 dnCnAO")
for author in Autho:
    authors.append(author.text)
len(authors)

24

In [385]:
for dat in journal.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    published_date.append(dat.text)
len(published_date)

24

In [386]:
for links in journal.find_all('a',class_="sc-5smygv-0 fIXTHm",href=True):
    paper_url.append(links['href'])
len(paper_url)

24

#DataFrame

In [389]:
df=pd.DataFrame({'Paper Title':paper_name,'Authors':authors,'Published Date':published_date,'Paper URL':paper_url})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...